<h1>Answer</h1>
<table>
  <thead>
    <th>ID</th>
    <th>Answer</th>
    <th>Correct answer |</th>
    <th>Question id:</th>
  </thead>
  {{#each answers}}
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.answer}}</td>
    <td>{{this.correct}}</td>
    <td>{{this.questionid}}</td>
    <td>
      <form action="/answers/{{this.id}}/delete" method="POST">
        <input class="inputdesign" type="submit" name="delete" value="Delete"
          onClick="return confirm('Are you sure you want to delete?')" />
      </form>
    </td>
  </tr>
  {{/each}}
</table>