<h1>Edit quiz </h1>
<h2>{{quiz.id}}: {{quiz.name}}</h2>
<h2>{{questions.name}}: {{quiz.name}}</h2>

<form action='/quizzes/{{quiz.id}}/edit' method="POST">
    <span>Please enter a quiz name:</span>
    <input type="text" placeholder="name" name="name" required minlength="8">
    <span class="error" aria-live="polite"></span>
    <button type="submit">Submit</button>
</form>
<form action='/quizzes/{{quiz.id}}/delete' method="POST">
    <input type="submit" name="delete" value='Delete'
        onClick="return confirm('Are you sure you want to delete?')" />
</form>

<h3>New question</h3>
<form action="/questions" method="POST" class="question-form">   
    <span>Please enter a question:</span>
    <input type="text" placeholder="question" name="question" required minlength="8">
    <span>Select the quiz you would like to add this too:</span>
    <input type="checkbox" id={{quiz.name}} name="quizid" value={{quiz.id}}>
    <label for={{quiz.name}}> {{quiz.name}}</label>
    <span class="error" aria-live="polite"></span>
    <button type="submit">Submit</button>
</form>


<h3>All Questions for quiz</h3>
<table>
    <thead>
        <th>ID</th>
        <th>question</th>
    </thead>
    <tr>
        <td>{{questions.id}}</td>
        <td>{{questions.name}}</td>
        <td>{{questions.question}}</td>

    </tr>
</table>