<h1>Edit quiz </h1>
<h2>{{quiz.id}}: {{quiz.name}}</h2>

<form action="/questions" method="POST" class="form">
<h3>New question</h3>
    <ul>Please enter a new question:</ul>
    <input type="text" placeholder="question" name="question" required minlength="8">
    <h3>Answer</h3>

    <ul>Please enter a answer in the following format:
        <br />
        <br /> A.“250thousand”
        <br /> B.“1million”
        <br /> C.“9million”
        <br /> D.“78million”
    </ul>
    <br />

    <input type="text" placeholder="answer" name="answer" required minlength="8">
    <ul>Correct answer:</ul>
    <input type="text" placeholder="correct answer" name="correct" required minlength="1">
    <br />
    <h3>Select the quiz you would like to add this too:</h3>
    <input type="checkbox" id={{quiz.name}} name="quizid" value={{quiz.id}} required>
    <label for={{quiz.name}}> {{quiz.name}}</label>
    <ul class="error" aria-live="polite"></ul>
    <button type="submit">Submit</button>
</form>


<div class="wrapper">
<h3>All Questions for quiz</h3>
<table>
    <thead>
        <th>ID</th>
        <th>Question</th>
    </thead>
    {{#each questions}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.question}}</td>
    </tr>
    {{/each}}
</table>
</div>