    <h1>Edit Question</h1>
    <h2>{{question.id}}: {{question.question}}</h2>
    <form action='/questions/{{question.id}}/edit' method="POST" class="form">
        <ul>Please enter a question title to change:</ul>
        <input type="text" placeholder="question" name="question" required minlength="8">
        <ul class="error" aria-live="polite"></ul>
        <button type="submit">Submit</button>
        <form action='/questions/{{question.id}}/delete' method="POST">
            <input class="inputdesign" type="submit" name="delete" value='Delete'
                onClick="return confirm('Are you sure you want to delete?')" />
        </form>
    </form>
    <br />


    <div class="wrapper">
        <h3>Answer for question</h3>
        <table>
            <thead>
                <th>Answer</th>
                <th>Correct answer</th>
            </thead>
            {{#each answers}}
            <tr>
                <td>{{this.answer}}</td>
                <td>{{this.correct}}</td>
            </tr>
            {{/each}}
        </table>
    </div>

    <form action="/answers" method="POST" class="form">
        <h3>Edit Answer</h3>
        Please enter an of answers in the format:
        <ul> A.“250thousand”
            <ul>B.“1million”</ul>
            <ul>C. “9million”</ul>
            <ul>D.“78million"</ul>
        </ul>
        <br />
        <ul>Answer:</ul>
        <input type="text" placeholder="answer" name="answer" required minlength="8">
        <br />
        <ul>Correct answer:</ul>
        <input type="text" placeholder="correct answer" name="correct" required minlength="1">
        <br />
        <ul>Select the quiz you would like to add this too:</ul>
        <label for={{question.question}}> {{question.question}}</label>
        <input type="checkbox" id={{question.question}} name="quizid" value={{question.id}} required>
        <ul class="error" aria-live="polite"></ul>
        <button type="submit">Submit</button>
    </form>
