<h1>Edit question </h1>
<h2>{{question.id}}: {{question.question}}</h2>

<form action='/questions/{{questions.id}}/edit' method="POST">
    <span>Please enter a question:</span>
    <input type="text" placeholder="question" name="question" required minlength="8">
    <span class="error" aria-live="polite"></span>
    <button type="submit">Submit</button>
</form>
<form action='/questions/{{question.id}}/delete' method="POST">
    <input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
</form>

<h3>New question</h3>

<form action="/questions/new" method="POST" class="question-form">
    <span>Please enter a question:</span>
    <input type="text" placeholder="question" name="question" required minlength="8">
    <span>Select the quiz you would like to add this too:</span>
    <input type="checkbox" id={{questions.question}} name="quizid" value={{quiz.id}}>
    <label for={{questions.question}}> {{questions.question}}</label>
    <span class="error" aria-live="polite"></span>
    <button type="submit">Submit</button>
</form>


<h3>All answers for questions</h3>
<table>
    <thead>
        <th>ID</th>
        <th>question</th>
    </thead>
    {{#each answers}}
    <tr>
        <td>{{this.answer}}</td>
        <td>{{this.correct}}
            <form action='/answers/{{this.id}}/' method="POST">
                <button type="submit">got to answers</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>