<div class="subcontainer">
    <h1>Edit question</h1>
    <h2>{{question.id}}: {{question.question}}</h2>
    <form action='/questions/{{question.id}}/edit' method="POST" class="form">
        <ul>Please enter a question title to change:</ul>
        <input type="text" placeholder="question" name="question" required minlength="8">
        <ul class="error" aria-live="polite"></ul>
        <button type="submit">Submit</button>
    </form>
    <br />
    <form action='/questions/{{question.id}}/delete' method="POST">
        <input type="submit" name="delete" value='Delete'
            onClick="return confirm('Are you sure you want to delete?')" />
    </form>

    <h3>Edit Answer</h3>

    <form action="/answers" method="POST" class="form">
        <ul>Please enter a groups of answers and it's following correct answer:</ul>
        <br />
        <input type="text" placeholder="answer" name="answer" required minlength="8">
        <br />
        <ul>Answer:</ul>
        <br />
        <input type="text" placeholder="correct answer" name="correct" required minlength="1">
        <br />
        <ul>Select the quiz you would like to add this too:</ul>
        <label for={{question.question}}> {{question.question}}</label>
        <input type="checkbox" id={{question.question}} name="quizid" value={{question.id}} required>
        <ul class="error" aria-live="polite"></ul>
        <button type="submit">Submit</button>
    </form>

    <h3>answer for questions</h3>
    <table>
        <thead>
            <th>answer</th>
            <th>correct answer</th>
        </thead>
        {{#each answers}}
        <tr>
            <td>{{this.answer}}</td>
            <td>{{this.correct}}</td>
            <td>
            </td>
        </tr>
        {{/each}}
    </table>
    <form action='/answers/{{question.id}}/' method="POST">
        <button type="submit">got to answer</button>
    </form>
</div>