<h2>Welcome to the Quiz: {{questionName.id}}: {{questionName.name}}</h2>
<table>
    <thead>
        <th>Questions:</th>
        <th>Questions</th>
        <th>Answer</th>
    </thead>
    {{#each question}}
        <tr> 
            <td>{{this.question}}</td>
            
            <td>
                <form action='/questions/{{this.id}}/edit' method="GET">
                <button type="submit">go to question to edit</button>
                </form>
            </td>
            <td>
                <form action='/answers/{{this.id}}' method="POST">
                <button type="submit">go to answer</button>
                </form>
            </td>
        </tr>
    {{/each}}
</table>