<h1>All Questions for quiz</h1>
<p>Welcome to the quiz: {{questionName.id}}: {{questionName.name}}</p>
<table>
    <thead>
        <th>questions:</th>
        <th>Questions</th>
        <th>Answer</th>
    </thead>
    {{#each question}}
        <tr> 
            <td>{{this.question}}</td>
            
            <td>
                <form action='/questions/{{this.id}}/edit' method="GET">
                <button type="submit">got to question to edit</button>
                </form>
            </td>
            <td>
                <form action='/answers/{{this.id}}/answers-only' method="GET">
                <button type="submit">got to answers</button>
                </form>
            </td>
        </tr>
    {{/each}}
</table>